[mysqld]
#
# * Basic Settings
#
#bind-address		= 127.0.0.1
bind-address		= 0.0.0.0
# Error log - should be very few entries.
log_error = /storage/logs/mysql/error.log
slow_query_log		= 1
slow_query_log_file	= /storage/logs/mysql/mysql-slow.log